  /* Add your existing styles here */

  /* Style for the modal */
  .modalContact {
    display: none;
    position: fixed;
    z-index: 1031;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }

  /* Style for the modal content */
  .modal-content-contact {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }

  /* Close button style */
  .closeModel {
    color: #af2d2d;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .closeModel:hover,
  .closeModel:focus {
    color: rgb(64, 4, 121);
    text-decoration: none;
    cursor: pointer;
  }

  .btnstyle {
    font-weight: 600;
    font-size: 12px;
  }

  .drpdn {
    width: 100%;
    /* box-shadow: 1px 1px 1px 1px; */
  }